<!DOCTYPE html>
<html>
<head>
    <title>Thank You!</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="thankyou-container">
        <div class="thankyou-box">
            <h2>Thank you, {{ user_display_name }} 💗>
            <p>Your complaint has been sent to {{ admin_display_name }} <br>He will get back to you in 0-2 business hours, unless he's asleep then good luck</p>
            <div class="button-group">
                <a href="/submit" class="btn">➕ Submit another for whatever reason smh</a>
                <a href="/my_grievances" class="btn">📋 View my complaints</a>
            </div>
        </div>
    </div>
</body>
</html>
